[submodule "architecture/soc-riscv"]
	path = architecture/soc-riscv
	url = https://github.com/PacoReinaCampo/SoC-RISCV.git
[submodule "architecture/soc-or1k"]
	path = architecture/soc-or1k
	url = https://github.com/PacoReinaCampo/SoC-OR1K.git
[submodule "intelligence/soc-ntm"]
	path = intelligence/soc-ntm
	url = https://github.com/PacoReinaCampo/SoC-NTM.git
